.tribe__component {
    width: 300px;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
}
.tribe__component img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 20px;
}
.tribe__component button {
    display: none;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: auto;
    left: 70px;
    width: 150px;
    font-size: 12px;
    height: 40px;
}
.tribe__component h5 {
    font-size: 16px;
    margin-top: 20px;
    line-height: 10px;
}
.tribe__component p {
    font-size: 14px;
}
.tribe__component:hover {
    background: #EEEEEE;
}
.tribe__component:hover button {
    display: block;
}