.onboarding {
    padding: 200px 30px 30px;
}
.onboarding__components {
  width: 600px;
  margin: auto;
  padding: 30px 20px;
  background: var(--white-color);
}
.onboarding h5 {
  text-align: center;
  font-family: var(--logo-font);
  font-size: 40px;
  text-decoration: underline;
}
.onboarding__components p {
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    font-family: var(--primary-font);
    color: var(--background-dark);
}
.go__back i {
    cursor: pointer;
    font-size: 30px;
}
.onboarding__step .form__area .interests {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.onboarding__step .form__area .interests .interest {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

