label {
    font-size: 14px;
    color: var(--blue-color);
    margin-bottom: 10px;
    width: 100%;
}
input, select, textarea {
    width: 100%;
    border-radius: 5px;
    outline: 0;
    height: 50px;
    border: 1px solid var(--blue-color);
    padding: 0 20px;
}
textarea {
    height: 200px;
    padding: 20px;
}
.form__area {
    margin: 20px 0;
}
.form__area button, button {
    width: 100%;
    background: var(--background-dark);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.form__group {
    margin: 20px 0;
}